<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Rodzaje roślin w naszej ofercie </title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Kontakt</h2>
    <h4 class="list-heading">Zapraszamy na zakupy stacjonarne</h4>
    <p class="list-heading">
        Siedziba naszej firmy:
    </p>
    <section class="flower-section-map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1203.833223018377!2d18.2757168!3d52.8824221!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470345f35bc6d1fb%3A0xfe6e5ad36a3438c8!2sGospodarstwo%20Ogrodnicze%20Iwona%20i%20Arkadiusz%20Grabowscy!5e0!3m2!1spl!2spl!4v1681730975758!5m2!1spl!2spl"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <section class="flower-section">
        <h2 class="list-heading">Dane firmy</h2>
        <p class="list-heading">Nazwa</p>
        <p class="list-heading">Adres</p>
        <p class="list-heading">NIP firmy</p>
    </section>

</main>
</body>
</html>