<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Gospodarstwo Ogrodnicze Iwona i Arkadiusz Grabowscy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fa-solid fa-seedling"></i> Iwona i Arkadiusz Grabowscy
                <p class="menu-name-format"> Gospodarstwo Ogrodnicze </p>
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/o-nas}">O nas</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/kategorie}">Oferta</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/kontakt}">Kontakt</a>
        </li>
    </ul>
    <header class="flowers-main-page">
        <h1 class="flowers-main-page-header">Witamy na naszej stronie!</h1>
        <p class="flowers-main-page-description">
            Zapraszamy do zapoznania się z szeroką ofertą
            <br> kwiatów jednorocznych, dwuletnich oraz
            <br> wieloletnich, a także traw i krzewów.
        </p>
    </header>
    <main class="main-content" layout:fragment="content">
    </main>
    <footer class="footer">
        <p>Gospodarstwo Ogrodnicze Iwona i Arkadiusz Grabowscy &copy; Klaudia Orzechowska</p>
    </footer>
</div>
</body>
</html>